<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">

        <a href="{{ path('app_home') }}" class="block mb-5 px-2">
        <img src="{{ asset('assets/images/logo/logo-2.png') }}" class="w-full h-auto object-contain" alt="Kulturo Logo" />
        </a>

      <ul class="space-y-2 font-medium">
         <li>
            <a href="{{ path('app_home') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-7 h-7 text-gray-500 transition duration-75 
                            dark:text-gray-400 group-hover:text-gray-900 
                            dark:group-hover:text-white"
                        aria-hidden="true" 
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="currentColor" 
                        viewBox="0 0 24 24">
                    <path fill-rule="evenodd" 
                        d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
                        clip-rule="evenodd"/>
                </svg>
               <span class="ms-3">Home</span>
            </a>
         </li>
         <li>
            <a href="{{ path('app_deck') }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-7 h-7 text-gray-500 transition duration-75 
                            dark:text-gray-400 group-hover:text-gray-900 
                            dark:group-hover:text-white"
                        aria-hidden="true" 
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="currentColor" 
                        viewBox="0 0 24 24">
                    <path fill-rule="evenodd" 
                        d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 
                                2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791
                                A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" 
                        clip-rule="evenodd"/>
                </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Decks</span>
            </a>
         </li>
        <li>
            <a href="{{path('ai_form')}}" class="flex items-center p-2 text-gray-900 rounded-lg 
                            dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-7 h-7 text-gray-500 transition duration-75 
                            dark:text-gray-400 group-hover:text-gray-900 
                            dark:group-hover:text-white"
                    aria-hidden="true" 
                    xmlns="http://www.w3.org/2000/svg" 
                    fill="currentColor" 
                    viewBox="0 0 24 24">
                    <path d="M11 21V2.352A3.451 3.451 0 0 0 9.5 2a3.5 3.5 0 0 0-3.261 2.238A3.5 3.5 0 0 0 
                            4.04 8.015a3.518 3.518 0 0 0-.766 1.128c-.042.1-.064.209-.1.313a3.34 3.34 
                            0 0 0-.106.344 3.463 3.463 0 0 0 .02 1.468A4.017 4.017 0 0 0 2.3 12.5l-.015.036
                            a3.861 3.861 0 0 0-.216.779A3.968 3.968 0 0 0 2 14c.003.24.027.48.072.716a4 4 0 
                            0 0 .235.832c.006.014.015.027.021.041a3.85 3.85 0 0 0 .417.727c.105.146.219.285
                            .342.415.072.076.148.146.225.216.1.091.205.179.315.26.11.081.2.14.308.2.02.013
                            .039.028.059.04v.053a3.506 3.506 0 0 0 3.03 3.469 3.426 3.426 0 0 0 4.154.577
                            A.972.972 0 0 1 11 21Zm10.934-7.68a3.956 3.956 0 0 0-.215-.779l-.017-.038a4.016 
                            4.016 0 0 0-.79-1.235 3.417 3.417 0 0 0 .017-1.468 3.387 3.387 0 0 0-.1-.333
                            c-.034-.108-.057-.22-.1-.324a3.517 3.517 0 0 0-.766-1.128 3.5 3.5 0 0 0-2.202-3.777
                            A3.5 3.5 0 0 0 14.5 2a3.451 3.451 0 0 0-1.5.352V21a.972.972 0 0 1-.184.546 3.426 
                            3.426 0 0 0 4.154-.577A3.506 3.506 0 0 0 20 17.5v-.049c.02-.012.039-.027.059
                            -.04.106-.064.208-.13.308-.2s.214-.169.315-.26c.077-.07.153-.14.225-.216a4.007 
                            4.007 0 0 0 .459-.588c.115-.176.215-.361.3-.554.006-.014.015-.027.021-.041.087
                            -.213.156-.434.205-.659.013-.057.024-.115.035-.173.046-.237.07-.478.073-.72
                            a3.948 3.948 0 0 0-.066-.68Z"/>
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">AI</span>
                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm 
                            font-medium text-blue-800 bg-blue-100 rounded-full 
                            dark:bg-blue-900 dark:text-blue-300">
                    3
                </span>
            </a>
        </li>

        
    <!-- Barre de séparation -->
<div class="w-full h-1 bg-gray-300 dark:bg-gray-600 my-6"></div>

        <li>
        <a href="{{ path('app_settings') }}" 
            class="flex items-center space-x-3 p-2 text-gray-900 rounded-lg 
                    dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <img src="{{ app.user.profileImage }}" 
                alt="Profile Image" 
                class="w-8 h-8 rounded-full">
            <span>Profile</span>
        </a>
        </li> 

        <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-7 h-7 text-gray-500 transition-transform transform
                            duration-300 dark:text-gray-400 
                            group-hover:text-gray-900 dark:group-hover:text-white 
                            group-hover:rotate-45"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24">
                    <path fill-rule="evenodd" 
                        d="M9.586 2.586A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2v.089l.473.196.063-.063a2.002 
                            2.002 0 0 1 2.828 0l1.414 1.414a2 2 0 0 1 0 2.827l-.063.064.196.473H20a2 2 0 
                            0 1 2 2v2a2 2 0 0 1-2 2h-.089l-.196.473.063.063a2.002 2.002 0 0 1 0 2.828l-1.414 
                            1.414a2 2 0 0 1-2.828 0l-.063-.063-.473.196V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.089
                            l-.473-.196-.063.063a2.002 2.002 0 0 1-2.828 0l-1.414-1.414a2 2 0 0 1 0-2.827l.063
                            -.064L4.089 15H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h.09l.195-.473-.063-.063a2 2 0 0 
                            1 0-2.828l1.414-1.414a2 2 0 0 1 2.827 0l.064.063L9 4.089V4a2 2 0 0 1 .586-1.414ZM8 
                            12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" 
                        clip-rule="evenodd"/>
                </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
            </a>
         </li>

    <li>
        <a href="{{ path('app_logout') }}"
        class="flex items-center p-2 text-gray-900 rounded-lg 
                dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-7 h-7 text-gray-500 transition-transform transform
                            duration-300 dark:text-gray-400 
                            group-hover:text-gray-900 dark:group-hover:text-white 
                            group-hover:translate-x-1"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2">
                    <path stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Logout</span>
        </a>
    </li>


      </ul>
   </div>
</aside>
