{% extends 'layouts/authenticated.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block banner %}
<section class="ud-page-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-banner-content">
          <h1>Account Settings</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="min-h-screen flex items-center justify-center py-12">
  <div class="w-full max-w-md"> {# réduit la largeur maximale à md (≈ 28rem / 448px) #}

    <h2 class="text-center text-2xl font-semibold text-gray-800 dark:text-white mb-6">
      Edit your settings
    </h2>

    {{ form_start(settingsForm, {'attr': {'class': 'ud-login-form'}}) }}

      <div class="ud-form-group mb-4">
        {{ form_label(settingsForm.username, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(settingsForm.username, {
          'attr': {
            'placeholder': "Username",
            'class': 'form-control'
          }
        }) }}
        {{ form_errors(settingsForm.username) }}
      </div>

      <div class="ud-form-group mb-4">
        {{ form_label(settingsForm.plainPassword, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(settingsForm.plainPassword, {
          'attr': {
            'placeholder': "New password",
            'class': 'form-control'
          }
        }) }}
        {{ form_errors(settingsForm.plainPassword) }}
      </div>

<div class="ud-form-group mb-4">
  <label class="form-label">Choose an avatar</label>
  <div class="grid grid-cols-5 gap-3" id="avatar-selection">
    {% for choice in settingsForm.profileImage %}
      <label class="cursor-pointer text-center">
        {{ form_widget(choice, {'attr': {'class': 'd-none'}}) }}
        <img src="{{ asset(choice.vars.value) }}" alt="Avatar"
          class="rounded-circle border avatar-img w-full aspect-square object-cover hover:border-primary border-2" />
      </label>
    {% endfor %}
  </div>
  {{ form_errors(settingsForm.profileImage) }}
</div>



      <div class="ud-form-group mb-4">
        {{ form_label(settingsForm.theme, "Choose a theme", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(settingsForm.theme, {
          'attr': {
            'class': 'form-control'
          }
        }) }}
        {{ form_errors(settingsForm.theme) }}
      </div>

      <div class="ud-form-group">
        <button type="submit" class="ud-main-btn w-100">Save changes</button>
      </div>

    {{ form_end(settingsForm) }}

  </div>
</section>
{% endblock %}
