{% extends 'layouts/authenticated.html.twig' %}

{% block title %}{{ deck.title }}{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: column; align-items: center; text-align: center; min-height: 80vh;">
    <h1 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 1.5rem;">{{ deck.title }}</h1>

    <a href="{{ path('app_review_start', { 'deckId': deck.id }) }}" 
       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Démarrer la Révision
    </a>

    <a href="{{ path('flashcard_create', { id: deck.id }) }}" 
       class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">
        Créer une Flashcard
    </a>

    <a href="{{ path('flashcard_list', { id: deck.id }) }}" 
        class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-yellow-400 dark:hover:bg-yellow-500 focus:outline-none dark:focus:ring-yellow-600">
        Voir toutes les Flashcards
    </a>

</div>
{% endblock %}
